.enrolled-course-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .enrolled-course {
        border: 1px solid #E5E7EB;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 30px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .first {
            width: 80%;
            position: relative;

            @media screen and (max-width: 1150px) {
                width: 70%;
            }

            @media screen and (max-width: 998px) {
                width: 75%;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -15px;
                width: 1px;
                height: 100%;
                background-color: #E5E7EB;

                @media screen and (max-width: 768px) {
                    height: 1px;
                    width: 100%;
                    right: unset !important;
                    top: unset !important;
                    bottom: -15px;
                    left: 0;
                }
            }

            .wrap {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                @media screen and (max-width: 576px) {
                    flex-direction: column;
                }



                .program-banner {
                    width: 200px;
                    height: 150px;
                    border-radius: 16px;
                    overflow: hidden;
                    position: relative;



                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .in-progress {
                        min-width: 90px;
                        height: 30px;
                        border-radius: 30px;
                        background-color: #FFFFFF;
                        font-family: Poppins;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0px;
                        color: #4D5761;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        top: 12px;
                        right: 12px;
                        z-index: 999;
                    }
                }

                @media screen and (max-width: 576px) {
                    .sub-wrap {
                        width: 100% !important;

                        .program-banner {
                            width: 100%;
                        }
                    }

                }

                .details {
                    min-height: 150px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    .heading {
                        font-family: Poppins;
                        font-weight: 600;
                        font-style: SemiBold;
                        font-size: 20px;

                        letter-spacing: -2%;
                        color: #113025;
                        margin: 0;

                        @media screen and (max-width: 576px) {
                            margin-bottom: 20px;

                        }
                    }

                    .points {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        @media screen and (max-width: 1250px) {
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 10px;
                        }

                        @media screen and (max-width: 450px) {
                            gap: 0;

                        }


                        .point {
                            width: calc(25% - 15px);

                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            @media screen and (max-width: 1250px) {
                                width: calc(50% - 15px);
                            }

                            @media screen and (max-width: 450px) {
                                width: 100%;

                            }


                            p {
                                font-family: Poppins;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 12px;
                                line-height: 18px;
                                letter-spacing: 0px;
                                color: #6C737F;

                                @media screen and (max-width: 1250px) {
                                    margin: 0;
                                }
                            }

                            h3 {
                                font-family: Poppins;
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 16px;
                                line-height: 22px;
                                letter-spacing: -0.18px;
                                color: #111927;
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                .avatar {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50px;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .last {
            width: 20%;

            @media screen and (max-width: 1150px) {
                width: 30%;
            }

            @media screen and (max-width: 998px) {
                width: 25%;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }


}