.program-content-container {
    padding-bottom: 30px;
}

.program-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -3%;
        color: #003C3F;
    }

    p {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: -2%;
        color: #003C3F;
    }

    span {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 22px;
        letter-spacing: -0.18px;
        color: #111927;
    }
}

.video-section {
    height: 530px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.25);
    }
}

.program-content {
    margin-top: 20px;

    .program-content-heading {
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.26px;
        color: #111927;
        margin-bottom: 10px;
    }

    .program-content-p {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.18px;
        color: #6C737F;
        margin-bottom: 20px;

        // &:last-of-type {
        //     margin-bottom: 0;
        // }
    }

    .program-content-list {
        display: flex;
    align-items: flex-start;
        gap: 10px;
        flex-direction: column;

        .program-li {
            font-family: Poppins;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 22px;
            letter-spacing: -0.18px;
            color: #6C737F;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.program-btn {
    min-width: 220px;
}

.resource-body {
    padding-top: 20px;


    .resource {
        min-height: 65px;
        padding: 20px;
        border: 1px solid #F3F4F6;
        border-radius: 12px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;

        .first {
            display: flex;
            align-items: center;
            gap: 15px;

            h2 {
                font-family: Poppins;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 22px;
                letter-spacing: -0.18px;
                color: #113025;
                margin: 0;
            }
        }

        .download{
            text-decoration: none;
        }
    }
}