.enroll-progress-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    .bar {
        height: 17px;
        border-radius: 20px;
        padding: 2px;
        width: calc(100% - 30px);
        background-color: #F3F4F6;

        .enroll-progress {
            height: 100%;
            border-radius: 20px;
            background-color: #003C3F;
            transition: width 0.3s ease-in-out;
        }
    }

    span {
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #6C737F;
    }
}