.streaks {
    border: 1px solid #F3F4F6;
    border-radius: 12px;
    margin-bottom: 20px;

    .header {
        border-bottom: 1px solid #F3F4F6;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: 600;
            font-style: SemiBold;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -2%;
            color: #0A2628;
            margin-bottom: 0;
        }

        .filters-wrap {
            display: flex;
            align-items: center;
            gap: 10px;

            .filter-btn {
                width: 36px;
                height: 36px;
                background-color: transparent;
                border: 1px solid #E5E7EB;
                cursor: pointer;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .select-wrapper {
  position: relative;
  display: inline-block;
  width: 130px;

  .filter-select {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background-color: #F9FAFB;
    padding: 0 30px 0 10px; // extra space for arrow
    font-size: 14px;
    color: #0A2628;
    outline: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url('../../assets/learner_portal/components/streaks/down_chevron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

        }
    }

    .wrap {
        padding: 20px;
        border-bottom: 1px solid #F3F4F6;

        .streak-heading {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -2%;
            color: #FF7324;
        }
    }

    .streak-data {
        padding: 20px;

        .streak-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 11px;
            justify-content: space-evenly;

            .streak {
                height: 80px;
                border: 1px solid #F3F4F6;
                border-radius: 8px;
                width: calc(10% - 10px);
                min-width: 66px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 7px;

                p {
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0px;
                    color: #6C737F;
                }

                .dark {
                    display: block;
                }

                .light {
                    display: none;
                }

                &.active {
                    border: 1px solid #FEF6EE;
                    background-color: #FEF6EE;

                    p {
                        color: #0A2628;
                    }

                    .dark {
                        display: none;
                    }

                    .light {
                        display: block;
                    }
                }
            }
        }
    }
}