.ugrad-sidebar-1 {
    width: 260px;
    background-color: #032B1A;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 1100px) {
        left: -260px;

        &.open {
            left: 0 !important;
        }

    }

    .logo {
        padding: 40px 20px 34px 20px;
        text-align: center;

        img {
            margin: 0 auto;
        }

        .menu-opener {
            display: none;


            svg{
                path{
                        stroke: #fff;
                }
            }
        }

        @media screen and (max-width: 1100px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            img{
                margin: 0;
            }

            .menu-opener {
                display: block;
            }
        }
    }

    .navigation {
        height: calc(100vh - 122px);
        padding: 0 15px;
        overflow: auto;

        ul.navigation-ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;
            position: relative;
            margin: 0;
            padding: 0;

            li {

                &.last {
                    position: absolute;
                    bottom: 20px;
                    width: 100%;
                }

                &.disabled {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    color: #D7DBE0;
                    margin-top: 6px;
                }

                a {
                    display: block;
                    height: 44px;
                    border-radius: 8px;
                    padding: 8px 10px;
                    color: #fff;
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &.active {
                        background-color: #003C3F;
                    }

                }
            }
        }
    }

}

.content {
    width: calc(100% - 260px);
    height: calc(100vh - 72px);
    padding: 20px;
    margin-left: 260px;
    margin-top: 72px;

    @media screen and (max-width: 1100px) {
        width: 100%;
        margin-left: 0;
    }

}