.certification-card {
    border: 1px solid #E5E7EB;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;



    .first {
        width: 100%;
        position: relative;


        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: #E5E7EB;


        }

        .wrap {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex-direction: column;



            .sub-wrap {
                width: 100%;

                .program-banner {
                    width: 100%;
                    border-radius: 16px;
                    overflow: hidden;
                    position: relative;



                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .in-progress {
                        min-width: 90px;
                        height: 30px;
                        border-radius: 30px;
                        background-color: #FFFFFF;
                        font-family: Poppins;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0px;
                        color: #4D5761;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        top: 12px;
                        right: 12px;
                        z-index: 999;
                    }
                }
            }




            .details {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;


                .heading {
                    font-family: Poppins;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 20px;
                    xline-height: 120%;
                    letter-spacing: -2%;
                    color: #113025;
                    margin: 0;

                }

                .points {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;




                    .point {
                        width: calc(50% - 15px);

                        display: flex;
                        flex-direction: column;
                        gap: 5px;




                        p {
                            font-family: Poppins;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0px;
                            color: #6C737F;
                            margin: 0;

                        }

                        h3 {
                            font-family: Poppins;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 16px;
                            line-height: 22px;
                            letter-spacing: -0.18px;
                            color: #111927;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            margin: 0;

                            .avatar {
                                width: 20px;
                                height: 20px;
                                border-radius: 50px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        .status {
                            height: 24px;
                            padding: 6px 12px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            max-width: 80px;
                            font-family: Poppins;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0%;


                            &.earned {
                                background-color: #EDFCF2;
                                color: #003C3F;
                            }

                            &.in-progress {
                                background-color: #FEF6EE;
                                color: #EF6820;
                            }

                        }
                    }
                }
            }
        }
    }

    .last {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        button,a{
            width: 100%;
        }
    }
}